.board {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8e6a6a;
  border-radius: 10px;
  cursor: pointer;
  perspective: 500px;
  transition: transform 0.2s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-image {
  width: 85px;
  height: auto;
  object-fit: cover;
}
