.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  padding: 20px;
  background-color: #2F2F2F; 
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}


.card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e09d215d;
  border-radius: 10px;
  cursor: pointer;
  perspective: 500px;
  transition: transform 0.2s;
}

.card.flipped {
  transform: rotateY(180deg);
  background-color: #EEE5CE;
}

.card-image {
  width: 85px;
  height: auto;
  object-fit: cover;
}
