h1, h2 {
  color: #D4AF37; 
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem); 
}

h2 {
  font-size: clamp(1rem, 4vw, 2rem); 
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100vw; 
    background: linear-gradient(to bottom, #716767, #47453c); 
    background-image: url('./assets/images/back4.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    color: white; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px; 
  }

  .startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
    padding: 20px; 

  }
 
.sizeButtons {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px 0; 
    flex-wrap: wrap;
  }
  
 
  .sizeButtons button {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #44400c; 
    border: 2px solid #D4AF37; 
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  
  .sizeButtons button:hover {
    background-color: #b5b545; 
    color: black; 
  }
  
  
  .sizeButtons button.selected {
    background-color: #D4AF37; 
    color: black; 
    font-weight: bold;
    border-color: #ffffff;
  }
  



  