.cointaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .winMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 20px;
  }
  
  .restartButton {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #44400c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .restartButton:hover {
    background-color: #b5b545; 
  }

  .restartButton:active {
    background-color: #b5b545;
  }
